.navbar {
  background-color: #f2edeb; /* Background color */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #242424; /* Toggler icon color */
}

.navbar-dark .navbar-nav .nav-link {
  color: #242424; /* Navbar link color */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; /* Navbar link color on hover */
}
